div {
    border-style: solid;
    margin: 5px;
    padding: 2px;
    font-family: Arial;
}

.container {
    width: 200px;
    border-style: none;
}

.red {
    border-color: red;
}

.green {
    border-color: green;
}

.blue {
    border-color: blue;
}

.orange {
    border-color: orange;
}

.purple {
    border-color: purple;
}

.black {
    border-color: black;
}
